<h2>Edit</h2>

<form action="edit" method="POST">
  <label for="name">First name:</label>
  <input type="text" id="lname" name="lname" value="{{ kr_data.nama }}"><br><br>

  <label for="alamat">Alamat :</label><br>
  <textarea name="alamat" style="width:500px; height:100px;"> {{ kr_data.alamat }}</textarea><br><br>

  <label for="jenisKelamin">Jenis Kelamin:</label>
  <select id="jenisKelamin" >
    <option value="-">-----</option>
    <option value="pria">Pria</option>
    <option value="perempuan">Perempuan</option>
  </select><br><br>

  <label for="jenisKariawan">Jenis Karyawan:</label>
  <select id="jenisKariawan">
    <option value="-">-----</option>
    <option value="magang">Magang</option>
    <option value="kontrak">Kontrak</option>
    <option value="tetap">Tetap</option>
  </select><br><br>

  <label for="No telepon">No Telepon:</label>
  <input type="text" id="noTel" name="noTel" value="{{ kr_data.no_telepon }}"><br><br>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" value="{{ kr_data.email }}"><br><br>

  <label for="noRek">No Rekening :</label>
  <input type="text" id="noRek" name="noRek" value="{{ kr_data.no_rekening }}"><br><br>

  <label for="pemilikRek">Pemilik Rekening :</label>
  <input type="text" id="pemilikRek" name="pemilikRek" value="{{ kr_data.pemilik_rekening }}"><br><br>
  
  <label for="divisi">Divisi:</label>
  <select id="divisi">
    <option value="-">-----</option>
    <option value="magang">Magang</option>
    <option value="kontrak">Kontrak</option>
    <option value="tetap">Tetap</option>
  </select><br><br>
  
  <label for="jabatan">Jabatan:</label>
  <select id="jabatan">
    <option value="-">-----</option>
    <option value="magang">Magang</option>
    <option value="kontrak">Kontrak</option>
    <option value="tetap">Tetap</option>
  </select><br><br>

  <br><input type="submit" value="Submit">
</form> 